label {
  margin-bottom: 0 !important;
}

.button-container,
.novo-usuario-btn {
  text-align: right !important;
}

.button-container {
  margin-top: 30px;
}

/* .button-container button:last-child {
  margin-left: 10px;
} */